


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sosservicesetloirisrs</title>
        <link rel="stylesheet" href="style.css" />
        
    </head>


    <body>
        
            <header>
                    
                
                <nav>
                    <ul>
                        <li><a href="accueil.html">ACCUEIL</a></li>
                        <li><a href="menu.html">MENU</a></li>
                        <li><a href="contacts.html">CONTACTS</a></li>
                        <li><a href="galerie.html">GALERIE</a></li>
                        <li><a href="dons.html">SOUTENEZ-NOUS</a></li>
                    </ul>
                </nav>
            </header>

        <section class="presentationtexte"> 
             <ul> 
                <li> Pour réserver une location rendez-vous dans l'onglet <a href="menu.html">"Menu"</a></li> 
                <li> Pour nous <a href="contacts.html">contacter</a> ( renseignements/recrutement): mail , téléphone et nous contacter directement sur le site . </li> 
                <li> Pour obtenir un aperçu de nos offres vous pouvez jeter un coup d'oeil dans <a href="galerie.html">la Galerie</a> </li>
                <li> Si vous en avez l'envie et les moyens vous pouvez nous faire un don <a href="dons.html">ici</a> </li> 
            </ul>
        </section>

    <section id="cotegauche">
        <section class="section2" id="gauche">
            Ceci est la section de la NewsLetter
            <form method="post" action="cible.php">
                
            </form>
        </section>


        <section class="section3" id="gauche"> 
            Ceci est la section de la connexion 
        </section>

        <section class="section4" id="gauche">
            Ceci est la sections de l'avis à laisser
            <form method="post" action="cible.php" enctype="multipart/form-data">
                <textarea name="message" rows="8" cols="45" >
                    Votre message ici.
                </textarea>
            </form> 
        </section>
    </section>

    <section id="cotedroit">

        <section class="section5" id="droite"> 
            Suivez-nous sur Facebook <a href="https://www.facebook.com/sosservicesloisirsvacances/?ref=page_internal"> <img src="images/facebook.png" class=facebook></a>
        </section>

        <section class="section6" id="droite"> 
            Informations pratiques <br>
            <a href="fichiers/Statut_association.pdf">Statut de l'association</a>
        </section>
    </section>
        <footer>
        	<h4>Nos partenaires </h4>:Hello Asso-Banque Société Général - Promo Parcs.com - Office de tourisme Pont-l'évêque - SMACL Assurance - Chèque vacances- WIC 92 -Supernova Junior- Association.fr 

        </footer>


            


