<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Sosservicesetloirisrs_contacts</title>
        <link rel="stylesheet" href="style.css" />
        
    </head>


    <body>
        <div id="bloc_page">
            <header>
                <div id="titre_principal">
                    <div id="logo">
                        <img src="images/logo.png" alt="Logo de slv" />
                        <h1>Services Loisirs et Vacances</h1>    
                    </div>
                    <h2>Association SOS Services Loisirs Vacances</h2>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="accueil.html">ACCUEIL</a></li>
                        <li><a href="menu.html">MENU</a></li>
                        <li><a href="contacts.html">CONTACTS</a></li>
                        <li><a href="galerie.html">GALERIE</a></li>
                        <li><a href="dons.html">SOUTENEZ-NOUS</a></li>
                    </ul>
                </nav>
            </header>
            <h1> Page contatcts
